/* general rules */
body {
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
}

body .wrapper {
  width: 80%;
  max-width: 992px;
  margin: 0 auto;
  padding: 30px 0;
}

body .ms_title_section > h2,h4 {
  color: #031c4e;
}

body .ms_title_section > p {
  font-size: 20px;
  padding: 20px 0;
}
/* ends general rules */

/* section rules */
.ms_jumbotron {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  padding: 60px 0;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg_grey {
  background: #f3f5f9;
  padding: 40px 0;
  text-align: center;
  color: #5c6a88;
}

.bg_white {
  color: #5c6a88;
  padding: 40px 0;
}

.bg_blue {
  background: rgb(0,30,154);
  background: linear-gradient(360deg, rgba(0,30,154,1) 0%, rgba(0,72,197,1) 100%);
  color: white;
  padding: 60px 0;
}

footer {
  background: #031c4e;
  color: #a6adbd;
  padding: 80px 0;
}
/* ends section rules */

/* header */
.navbar-default .navbar-nav > li > a {
  color: #031b4e;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > button {
  color: #0052ff;
  border-color: #0052ff;
}

.navbar-header img {
  width: 180px;
  object-fit: cover;
  padding: 10px;
}

nav > button {
  margin:10px 0;
}


/* ends header */

/* main */
/* jumbotron */
.text_jumbo_sx > h1 {
  font-size: 50px;
}

.text_jumbo_sx > p {
  font-size: 20px;
}

.text_jumbo_dx > h2.blue {
  color: blue;
}

.text_jumbo_dx {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.ms_google_form {
  height: 17px;
  right: 46%;
  position: sticky;
}

.ms_button{
  width: 100%;
}

.text_jumbo_dx .form-group > input {
  margin: 15px 0;
}
/* ends jumbotron */

/* bottom jumbotron */
.ms_customer_list > li > img {
  width: 160px;
  padding: 5px;
}
/* ends bottom jumbotron */

/* upper descripton section */
.des_content {
  padding: 10px;
}

.list-group {
  border-left: 1px solid #5f5f5f;
  font-size: 20px;
}

.list-group > .list-group-item{
  border: none;
  color: #75809a;
}
/* ends uppper descripton section */

/* upper slides section */
 .carousel > img {
   width: 50%;
   padding: 20px 0;
 }

 .ms_list_und_slides > li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #0069ff;
  border-radius: 50%;
 }

.ms_list_und_slides > li:first-child {
  background-color: #0069ff;
}
/* ends upper slides section */

/* wall street section */
 .pro {
   border-bottom: 1px solid white;
   padding: 10px;
 }

.no_gutter {
  padding-left: 0;
  padding-right: 0;
}

.ms_pads {
  padding: 40px;
}
/* ends wall street section */

/* bottom slides(fake carousel) */
.title_fake_carousel {
  font-size: 40px;
  color: #031c4e;
  padding: 40px 0;
}

.fake_carousel_content {
  max-width: 650px;
  background: white;
  display: inline-block;
  padding: 50px 0;
}

.fake_carousel_content > img {
  padding: 20px 0;
}

.fake_carousel_content > p {
  font-size: 25px;
}

.slides_list {
  padding-top: 40px;
}
/* ends bottom slides(fake carousel) */

/* bottom Jumbo */
.text_bottom_jumbo > p {
  padding: 20px 0;
  color: white;
}
/* ends bottom jumbo */

/* footer */
 .list-footer > li{
   padding: 5px;
   font-size: 10px;
 }

 .list-footer > li > a {
  color: inherit;
  font-size: 18px;
 }

.list-footer li:first-child {
  color: white;
  font-size: 20px;
}

.social_content ul.list-inline > li > a > i {
  font-size: 25px;
  padding: 8px;
  color: #a6adbd;
}

.social_content > p {
  font-size: 18px;
  margin: 0;
}
/* ends footer */
