/* general rules */
body {
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
}

body .wrapper {
  width: 80%;
  max-width: 992px;
  margin: 0 auto;
  padding: 30px 0;
}

body .ms_title_section > h2,h4 {
  color: #031c4e;
}

body .ms_title_section > p {
  font-size: 20px;
  padding: 20px 0;
}
/* ends general rules */

/* NOTE: da controllare */
/* media query */
@media screen and (max-width: 768px ){
  body .carousel::before, .carousel::after {
    display: none;
   }

 }
/* NOTE: da controllare */
/* ends media query */

  /* header */
.navbar-default .navbar-nav > li > a {
  color: #031b4e;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > button {
  color: #0052ff;
  border-color: #0052ff;
}

.navbar-header img {
  width: 180px;
  object-fit: cover;
  padding: 10px;
}
/* ends header */

/* main */
/* jumbotron */
#ms_jumbo {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  padding: 60px 0;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ms_jumbotron .text_jumbo_sx > h1 {
  font-size: 50px;
}

.ms_jumbotron .text_jumbo_sx > p {
  font-size: 20px;
}

.ms_jumbotron .text_jumbo_dx > h2.blue {
  color: blue;
}

.text_jumbo_dx {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.ms_google_form {
  height: 17px;
  right: 46%;
  position: sticky;
}

.ms_button{
  width: 100%;
}

.text_jumbo_dx .form-group > input {
  margin: 15px 0;
}
/* ends jumbotron */

/* bottom jumbotron */
#bg_grey {
  background: #f3f5f9;
  padding: 40px 0;
  text-align: center;
  color: #5c6a88;
}

.ms_customer_list > li > img {
  width: 160px;
  padding: 5px;
}
/* ends bottom jumbotron */

/* upper descripton section */
#bg_white {
  color: #5c6a88;
  padding: 40px 0;
}

.des_content {
  padding: 10px;
}

.list-group {
  border-left: 1px solid #5f5f5f;
  font-size: 20px;
}

.list-group > .list-group-item{
  border: none;
  color: #75809a;
}
/* ends uppper descripton section */

/* upper slides section */
 .carousel > img {
   width: 50%;
   padding: 20px 0;
 }

 .ms_list_und_slides > li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #0069ff;
  border-radius: 50%;
 }

.ms_list_und_slides > li:first-child {
  background-color: #0069ff;
}
/* ends upper slides section */

/* wall street section */
#wall_street {
  background: rgb(0,30,154);
  background: linear-gradient(360deg, rgba(0,30,154,1) 0%, rgba(0,72,197,1) 100%);
  color: white;
}

 .pro {
   border-bottom: 1px solid white;
   padding: 10px;
 }

.no_gutter {
  padding-left: 0;
  padding-right: 0;
}

.ms_pads {
  padding: 40px;
}
/* ends wall street section */










/* footer */

footer {
  background: #031c4e;
}
